* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conendor {
    width: 100%;
    height: 100%;
    background-color: #FCC68F;
    display:inline-block;
    justify-content: center;
    align-items: center;
}

.vidrio > .vidrioBase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vaso {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.background {
    width: clamp(300px, 800px, 800px);
    height: 100vh;
    margin: 0 auto;
    background-color: #FCC68F; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.crema +.coffee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bebida {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vaso > #bebida {
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: absolute;

}


.vidrio {
    width: 200px;
    height: 190px;
    background-color: #E8E8E3;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    position: absolute;
    top: 45%;
    left: 40%;
    border-radius: 6%;
}

.vidrio::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    filter:blur(20px);
    border-radius: 6%;

}





.crema {
    width: 174px;
    height:35px;
    clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
    background-color: #F3D757;
    position: absolute;
    top: 47%;
    left: 40.9%;
    border-radius: 6%;
}

.crema::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #F3D757 , #D99C21 );
}

.coffee {
    width: 165px;
    height: 125px;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    background-color: #651703;
    position: absolute;
    top: 51.9%;
    left: 41.2%;

}

.coffee::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #651703 , #140A0A);

}



.vidrioBase {
    width: 18px;
    height: 129px;
    background-color: #FFFFFF;
    position: absolute;
    top: 63.2%;
    left: 46.4%;
    border-radius: 7%;
    transform: rotate(90deg);
    display: flex;
}

.vidrioBase::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6%;
    border-color: #E8E8E3;
    border-style: solid;
    border-width: 6px;
}

